body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

h1 {
  color: #DBDBDB;
  font-size: 60px;
  text-align: center;
  margin-top: 15rem;
}

.form_container{
  transition: ease-in-out .6s;
}

.form_container:hover{
  transform: scale(1.1);
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

input[type="text"] {
  width: 400px;
  padding: 10px;
  border: .5px solid #ddd;
  border-right: none;
  border-radius: 15px 0 0 15px;
  outline: none;
}

button[type="button"] {
  padding: 10px 10px;
  background-color: #1a73e8;
  color: #fff;
  font-size: 20px;
  border: 2px solid #1a73e8;
  border-left: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

input[type="text"]:focus {
  border-color: #1a73e8;
}

button[type="button"]:hover {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgb(0, 0, 0) 0%, rgb(70, 112, 226) 100%);
  color:white;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

